<!-- login_required.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Required</title>
</head>
<body>
    <h1>Bạn cần có tài khoản mới có thể sử dụng tiếp!!!</h1>
    <p>Nếu bạn chưa đăng nhập, vui lòng <a href="{% url 'login' %}">đăng nhập </a> để truy cập trang.</p>
    <p>Nếu bạn chưa có tài khoản, vui lòng <a href="{% url 'register' %}">đăng kí </a> để truy cập trang.</p>

</body>
</html>
