<!-- login_required.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Required</title>
</head>
<body>
    <h1 class="text-center text-muted mt-5 mb-0">CHÀO MỪNG ĐẾN MỚI TRANG WEB ÔN TẬP TRI THỨC</h1>
    <p class="text-center text-muted mt-5 mb-0">Sinh viên thực hiện: Phan Tấn Dũng</p>
    <p class="text-center text-muted mt-5 mb-0">Mã số sinh viên: 46.01.103.017</p>
    <p class="text-center text-muted mt-5 mb-0">Giảng viên hướng dẫn: cô Nguyễn Thị Ngọc Hoa</p>

</body>
</html>
