<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!<![endif]-->
{% extends 'app/base.html' %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {%block login%}
        <h1 class="text-center text-muted mt-5 mb-0">Bài làm</h1>
        
        <form method="post" action="{% url 'take_quiz' course.id %}">
            {% csrf_token %}
            {% for question in form %}
                <p><strong>Câu: {{ forloop.counter }}. {{ question.label_tag }}</strong>{{ question }} </p>
            {% endfor %}
    
            <button type="submit">Submit</button>
        </form>
        {%endblock login%}
    </body>
</html>