<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
{% extends 'app/base.html' %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {%block login%}
        
        <div class="container mt-5">
            <h1 class="text-center text-muted mb-0">CẬP NHẬT THÔNG TIN CÁC NHÂN</h1>
            <div class="row justify-content-center mt-3">
              <div class="col-md-6">
                <form method="post" action="">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </form>
              </div>
            </div>
          </div>
          
        {%endblock login%}

    </body>
</html>